
body {
    background: #E0E0E2;
	margin: 0;
    font-family: 'Source Sans Pro';
}
h1 {
    font-size: 3.2em;
    font-weight: bold;
    text-align: center;
	font-family: 'Source Sans Pro';
}
img {
	margin: 0;
	width: 100%;
	padding: 0;
	display: block;
}

#top-table td {
    vertical-align: top;
	width: 20%;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2em;
    color: #2D2E2E;
    line-height: 5pt;
}

.center {
	padding-left: 50pt;
	margin: 50pt;
}

.slidecontainer {
    text-align: center;
}


#header-bottom-left {
	height: 240px;
}

#POITable th, #POITable td {
    padding: 7px;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 25px;
    background: #e6e6e6;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}
