
body {
    background: #E0E0E2;
	margin: 0;
    font-family: Arial;
}
h1 {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}
img {
	margin: 0;
	width: 100%;
	padding: 0;
	display: block;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2em;
    color: #2D2E2E;
    line-height: 5pt;
}

.center {
	padding-left: 50pt;
	margin: 50pt;
}

#header-bottom-left {
	height: 260px;
}

th, td {
    padding: 7px;
}
